* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header {
    position: relative;
    width: 100%;
    padding: 20px;
    font-family: 'Segoe Script', 'Segoe Print', 'Segoe UI';
    background-color: #9789d4;
    color: black;
    /* this keeps the text within the header background as the screen size chnanges */
    display:flex;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav {
    display: inline;
    margin-left: 25px;
    color:whitesmoke;
}

nav a {
    color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
}

p {
    font-size: 16px;
}

/* use this for brackground photo */
#background {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./images/Beach.JPG); /* corrected absolute path for url, removed quotes */
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.tooltip:hover {
    visibility: collapse;
}

.upcoming-projects {
    margin-right: 20px;
    padding: 20px;
    float: left;
    width: 20%;
    height: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #585f63;
    text-align: center;
    font-family: 'Segoe Script', 'Segoe Print', 'Segoe UI';
}

/* grouped the following classes with the same properties together */
.childrens-games, .store, .security-consulting {
    margin-bottom: 32px;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    visibility: hidden; /* remove this probably */
}

.childrens-games h3, .store h3, .security-consulting h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    display: inline-flexbox;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.about-me, .my-work, .contact-me {
    margin: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6fdfd9;
    color: #585f63; 
}

.about-me img, .my-work img, .contact-me img {
    max-height: 200px;
}

.about-me h2, .my-work h2, .contact-me h2 {
    font-size: 36px;
    color: black;
    font-family: 'Segoe Script', 'Segoe Print', 'Segoe UI';
}

footer {
    padding: 30px;
    clear: both;
    font-family: 'Segoe Script', 'Segoe Print', 'Segoe UI';
    text-align: center;
    color: #9789d4;
}

footer h2 {
    font-size: 20px;
}

@media screen and (min-width: 992px)  {   
        body  {
            background-color: black;
        }
        .about-me, .my-work, .contact-me {
            border: solid whitesmoke
        }
}

@media screen and (min-width: 768px)  {
        width: 25%;
        }
        .about-me, .my-work, .contact-me {
            border: solid #1f1d1d; 
         }
}
@media screen and (max-width: 768px)  {
        width: 25%;
        body  {
            background-color: whitesmoke;
        }
        main, .about-me, .my-work, .contact-me {
            border: solid #1f1d1d; 
            flex-direction: column;
        }
        aside h2 {
            display:inline-block;
        }
}
